@model SecelPartner.Core.Entities.Partenariat

@{
    ViewData["Title"] = "Delete";
    ViewData["DTitle"] = "Partenariat / Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NiveauPartenariat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NiveauPartenariat.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypePartenariat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypePartenariat.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />  
    </form>
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>
